# Datasets

1. https://www.kaggle.com/datasets/rkiattisak/salaly-prediction-for-beginer
2. https://www.kaggle.com/code/theoviel/kagglers-gender-pay-gap-salary-prediction
3. https://www.kaggle.com/datasets/tejashvi14/employee-future-prediction?resource=download
4. https://data.world/howarder/gender-by-name + https://www.kaggle.com/datasets/kaggle/sf-salaries

In [26]:
import pandas as pd
from scipy.stats import ttest_ind

## 1. "Salary prediction for beginners"

- Origin of the data is not clear
- Difference in salary between genders is not significant

In [27]:
df = pd.read_csv('../data/1_salary.csv', index_col=0)
# for col in df:
#     print(df[col].unique())
print(df.head())

#print average salary for female and male
print(df.groupby("Gender")["Salary"].mean())

# t-test if difference is significant
f_df = df[df["Gender"]=="Female"]
m_df = df[df["Gender"]=="Male"]
print("p-value: ", ttest_ind(f_df["Salary"], m_df["Salary"], alternative="less")[1])

      Gender Education Level          Job Title  Years of Experience    Salary
Age
32.0    Male      Bachelor's  Software Engineer                  5.0   90000.0
28.0  Female        Master's       Data Analyst                  3.0   65000.0
45.0    Male             PhD     Senior Manager                 15.0  150000.0
36.0  Female      Bachelor's    Sales Associate                  7.0   60000.0
52.0    Male        Master's           Director                 20.0  200000.0
Gender
Female     97011.173184
Male      103867.783505
Name: Salary, dtype: float64
p-value:  0.08528067764766119

# 2

In [28]:
df_choice = pd.read_csv('../data/2_salary.csv')
#drop first column
df_choice = df_choice.drop(df_choice.columns[0], axis=1)

/tmp/ipykernel_9404/2105290357.py:1: DtypeWarning: Columns (0,2,8,10,21,23,24,25,26,27,28,42,44,54,56,64,81,83,85,87,105,107,109,121,123,125,148,150,157,172,174,192,194,210,218,219,221,223,246,247,249,262,264,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,302,304,306,325,326,329,341,368,371,384,385,389,390,391,393,394) have mixed types. Specify dtype option on import or set low_memory=False.
  df_choice = pd.read_csv('../data/2_salary.csv')

In [29]:
column_dict = {
    "gender": 0,
    "age": 2,
    "country": 3,
    "education": 4,
    "job_title": 6,
    "industry": 8,
    "experience": 10,
    "salary": 11,
}

for name, i in column_dict.items():
    print(name)
    print(df_choice.iloc[0][i])

df_choice = df_choice.iloc[:, list(column_dict.values())]

gender
What is your gender? - Selected Choice
age
What is your age (# years)?
country
In which country do you currently reside?
education
What is the highest level of formal education that you have attained or plan to attain within the next 2 years?
job_title
Select the title most similar to your current role (or most recent title if retired): - Selected Choice
industry
In what industry is your current employer/contract (or your most recent employer if retired)? - Selected Choice
experience
How many years of experience do you have in your current role?
salary
What is your current yearly compensation (approximate $USD)?

In [30]:
# select columns from dataframe and rename them to column_dict keys
mapping = dict(zip(df_choice.columns, column_dict.keys()))
df_choice = df_choice.rename(columns=mapping)
#drop first row
df_choice = df_choice.drop(df_choice.index[0])

In [31]:
df_choice = df_choice[df_choice['salary'].notnull()]
df_choice = df_choice[df_choice['salary'] != 'I do not wish to disclose my approximate yearly compensation']
print(df_choice["salary"].unique())

salary_map = {
    '10-20,000': 15000,
    '0-10,000': 5000,
    '20-30,000': 25000,
    '125-150,000': 137500,
    '30-40,000': 35000,
    '50-60,000': 55000,
    '100-125,000': 112500,
    '90-100,000': 95000,
    '70-80,000': 75000,
    '80-90,000': 85000,
    '60-70,000': 65000,
    '400-500,000': 450000,
    '40-50,000': 45000,
    '150-200,000': 175000,
    '500,000+': 500000,
    '300-400,000': 350000,
    '200-250,000': 225000,
    '250-300,000': 275000
}

df_choice['salary'] = df_choice['salary'].map(salary_map)

print(df_choice["salary"].unique())

['10-20,000' '0-10,000' '20-30,000' '125-150,000' '30-40,000' '50-60,000'
 '100-125,000' '90-100,000' '70-80,000' '80-90,000' '60-70,000'
 '400-500,000' '40-50,000' '150-200,000' '500,000+' '300-400,000'
 '200-250,000' '250-300,000']
[ 15000   5000  25000 137500  35000  55000 112500  95000  75000  85000
  65000 450000  45000 175000 500000 350000 225000 275000]

In [33]:
df_choice.groupby("gender")["salary"].mean()

gender
Female                      44631.302521
Male                        51190.735271
Prefer not to say           81653.846154
Prefer to self-describe    113443.396226
Name: salary, dtype: float64

In [37]:
f_df_choice = df_choice[df_choice["gender"]=="Female"]
m_df_choice = df_choice[df_choice["gender"]=="Male"]
print("p-value: ", ttest_ind(f_df_choice["salary"], m_df_choice["salary"], alternative="less")[1])

p-value:  6.207303697046399e-07

# 3

In [ ]:
df_3 = pd.read_csv('../data/Employee.csv', index_col=0)
# for col in df:
#     print(df[col].unique())
print(df_3.head())

#print average salary for female and male
print(df_3.groupby("Gender")["PaymentTier"].mean())

# t-test if difference is significant
f_df_3 = df_3[df_3["Gender"]=="Female"]
m_df_3 = df_3[df_3["Gender"]=="Male"]
print("p-value: ", ttest_ind(f_df_3["PaymentTier"], m_df_3["PaymentTier"], alternative="greater")[1])

           JoiningYear       City  PaymentTier  Age  Gender EverBenched
Education
Bachelors         2017  Bangalore            3   34    Male          No  \
Bachelors         2013       Pune            1   28  Female          No
Bachelors         2014  New Delhi            3   38  Female          No
Masters           2016  Bangalore            3   27    Male          No
Masters           2017       Pune            3   24    Male         Yes

           ExperienceInCurrentDomain  LeaveOrNot
Education
Bachelors                          0           0
Bachelors                          3           1
Bachelors                          2           0
Masters                            5           1
Masters                            2           1
Gender
Female    2.537600
Male      2.806695
Name: PaymentTier, dtype: float64
p-value:  1.0

4.

In [ ]:
import pandas as pd
from scipy.stats import ttest_ind

df_4 = pd.read_csv('Salaries.csv', index_col=0)
df_gender = pd.read_csv('name_gender.csv', index_col=0)

df_4 = df_4[df_4.EmployeeName != "Not Provided"]
df_4 = df_4[df_4.EmployeeName != "Not provided"]
df_4[['name','lastName']] = df_4["EmployeeName"].str.split(" ", 1, expand=True)

df_4 = pd.merge(df_4, df_gender, on="name")

df_4

#print average salary for female and male
print(df_4.groupby("gender")["TotalPayBenefits"].mean())

# t-test if difference is significant
f_df_4 = df_4[df_4["gender"]=="F"]
m_df_4 = df_4[df_4["gender"]=="M"]
print(len(m_df_4["gender"])) 
print("p-value: ", ttest_ind(f_df_4["TotalPayBenefits"], m_df_4["TotalPayBenefits"], alternative="two-sided")[1])

/tmp/ipykernel_95983/3338777636.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_4 = pd.read_csv('../data/4_Salaries.csv', index_col=0)

KeyError: 'EmployeeName'